<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }
        a {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        h1 {
            font-size: 2rem;
            color: #333;
        }
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        p{
            font-size: 1.2rem;
            color: #333;
        }
    </style>
</head>
<body>
    <!-- Assuming this is using EJS for dynamic content -->
    <img src="<%= user.avatar %>" alt="User Avatar">
    <h1>Welcome <%= user.name %></h1>
    <p> (<%= user.username %>) </p>
    <a href="/auth/logout">Logout</a>
</body>
</html>
